{% assign TOTAL_SIZE = 3 %}
{% assign current_cat = page.categories | first %}

{% assign same_cat_posts = "" | split: "" %}
{% for post in site.posts %}
  {% if post.url != page.url and post.categories contains current_cat %}
    {% assign same_cat_posts = same_cat_posts | push: post %}
  {% endif %}
{% endfor %}

{% assign relate_posts = same_cat_posts | slice: 0, TOTAL_SIZE %}

{% if relate_posts.size > 0 %}
  <aside id="related-posts" aria-labelledby="related-label">
    <h3 class="mb-4" id="related-label">
      {{- site.data.locales[include.lang].post.relate_posts -}}
    </h3>
    <nav class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-4">
      {% for post in relate_posts %}
        <article class="col">
          <a href="{{ post.url | relative_url }}" class="post-preview card h-100">
            <div class="card-body">
              {% include datetime.html date=post.date lang=include.lang %}
              <h4 class="pt-0 my-2">{{ post.title }}</h4>
              <div class="text-muted">
                <p>{% include post-description.html %}</p>
              </div>
            </div>
          </a>
        </article>
      {% endfor %}
    </nav>
  </aside>
{% endif %}
