/* Sidebar nav hover */
#sidebar .nav-link:hover {
  color: var(--link-color) !important;
}
#sidebar .nav-link:hover i {
  color: var(--link-color) !important;
}

/* Sidebar bottom contact icons hover */
.sidebar-bottom a:hover {
  color: var(--link-color) !important;
}
.sidebar-bottom a:hover i {
  color: var(--link-color) !important;
}
