---
layout: page
---

{% include lang.html %}

{% comment %}Build navbox lookup by category field{% endcomment %}
{% assign all_navboxes = site.data.navboxes %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  {% comment %}Show navbox matching current category (single or array){% endcomment %}
  {% for nb in all_navboxes %}
    {% assign nb_data = nb[1] %}
    {% assign nb_matches = false %}
    {% if nb_data.category == page.title %}
      {% assign nb_matches = true %}
    {% endif %}
    {% if nb_data.categories contains page.title %}
      {% assign nb_matches = true %}
    {% endif %}
    {% if nb_matches %}
      {% include navbox.html id=nb[0] %}
    {% endif %}
  {% endfor %}

  {% comment %}If top-level: show sub-category navboxes{% endcomment %}
  {% assign sub_cats = "" | split: "" %}
  {% for post in site.posts %}
    {% if post.categories[0] == page.title and post.categories[1] %}
      {% unless sub_cats contains post.categories[1] %}
        {% assign sub_cats = sub_cats | push: post.categories[1] %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% assign sub_cats = sub_cats | sort %}

  {% for sub in sub_cats %}
    {% for nb in all_navboxes %}
      {% assign nb_data = nb[1] %}
      {% assign nb_matches = false %}
      {% if nb_data.category == sub %}{% assign nb_matches = true %}{% endif %}
      {% if nb_data.categories contains sub %}{% assign nb_matches = true %}{% endif %}
      {% if nb_matches %}
        {% include navbox.html id=nb[0] %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% comment %}Post/sub-category list{% endcomment %}
  {% if sub_cats.size > 0 %}
    <ul class="content ps-0">
      {% for sub in sub_cats %}
        {% assign sub_slug = sub | slugify %}
        <li class="d-flex justify-content-between px-md-3">
          <a href="{{ '/categories/' | append: sub_slug | relative_url }}/">{{ sub }}</a>
          <span class="dash flex-grow-1"></span>
          <span class="text-muted small">{{ site.categories[sub].size }} posts</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <ul class="content ps-0">
      {% for post in page.posts %}
        <li class="d-flex justify-content-between px-md-3">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="dash flex-grow-1"></span>
          {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
